body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
#container {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 600px;
    height: 600px;
}
.colored {
    background-color: green;
}
#title {
    font-size: 60px;
    font-weight: bold;
    font-family: "system-ui";
    color:#ca120d;
    margin-bottom: 20px;
}
#buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 600px;
}
#erase {
    font-size: 25px;
    border-radius: 5px;
    color: #ded4ac;
    background-color: #b04614;
    padding:10px;
    margin:10px;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #2a2f2d;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
#sliderValue {
    text-align: center;
    font-size : 20px;
}
#buttons #head {
    -webkit-appearance: none;
    -mozkit-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border:none;
    cursor:pointer;
    box-shadow: 2px #888888;
}
#head::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid black;
}
#head::-moz-color-swatch {
    border-radius: 50%;
    border: 2px solid black;
}