body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 600px;
    height: 600px;
}
.colored {
    background-color: green;
}
#title {
    font-size: 60px;
    font-weight: bold;
    font-family: "system-ui";
    color:#ca120d;
    margin-bottom: 20px;
}
#buttons {
    margin-bottom: 20px;
}
#erase {
    font-size: 25px;
    border-radius: 5px;
    color: #ded4ac;
    background-color: #b04614;
}