body {
    display: flex;
    justify-content: center;
    pointer-events:auto;
}

#container {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

.colored {
    background-color: green;
}